<h3>Group Show Page</h3>

<%= Fan.find(session[:fan_id]).name %>

<h1>Group Name:</h1>
<h2><%= @group.name %></h2>

<h4>Group Description:</h4>
<p><%= @group.description %></p>

<h1>Group Genres:</h1>
<% @group.genres.each do |genre| %>
    <p> <%= genre.name %> </p>
<% end %>

<h1>Group Songs:</h1>
<% @group.songs.each do |song| %>
    <p>Song title:<a href= <%= song.external_link %> > <%= song.title %></a></p>
    <p><%= image_tag song.image_url %></p>
<% end %>



<h1>Group Discussion:</h1>
<% @group.comments.each do |comment| %>
    <p> <%= comment.created_at %> : <%=link_to comment.fan.name, fan_path(comment.fan)%> : <%= comment.content %></p>
<% end %>



<%= form_for Comment.new, :remote => true do |f| %>

    <p><%= f.text_field :content %></p>

    <%= f.hidden_field :fan_id, :value => session[:fan_id] %>
    <%= f.hidden_field :group_id, :value => @group.id%>
    <%= f.submit %>
<% end %>




<h1>Add Song Form</h1>

    <% if flash[:match_error] %>
    <h2><%= flash[:match_error] %></h2>
    <% end %>
 
  
<%= form_for Song.new, :remote => true do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :artist %>
    <%= f.text_field :artist %>
    
    <%= f.hidden_field :group_id, :value => @group.id%>

    <%= f.submit %>
    
<% end%>

