<div class="group-page-top">
    <h1><%= "Welcome to #{@group.name} group" %></h1>
    <p><%= @group.description %></p>
    <h1>Genres:</h1>
    <% @group.genres.each do |genre| %>
        <p> <%= genre.name %> </p>
    <% end %>
</div>


<div class= "group-songs">
    <h1>Group Songs:</h1>
    <div class="row">
    <% @group.songs.each do |song| %>
        <div class="card col-lg-2" style="width: 18rem;">
    <img src="<%=song.image_url %>" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text"><a href= <%= song.external_link %> > <%= song.title %></a></p>
    </div>
    </div>
    <% end %>
    </div>
</div>


<div class="groupie-comment-section"
    <% @group.comments.each do |comment| %>
        <p> <%= comment.created_at %> : <%=link_to comment.fan.name, fan_path(comment.fan)%> : <%= comment.content %></p>
    <% end %>
</div>



<div class="group-page-bottom">
    <% if !@group.has_member?(@fan) %>
        <%= button_to("Follow Group", add_path, method: :get) %>

    <!--Only Logged In Users Can Access Below-->
    <% else %>

        <%= form_for Comment.new, :remote => true do |f| %>

            <p><%= f.text_field :content %></p>

            <%= f.hidden_field :fan_id, :value => session[:fan_id] %>
            <%= f.hidden_field :group_id, :value => @group.id%>
            <%= f.submit "Add Comment" %>
            
        <% end %>

        <h1 class="add-song-header">Add Song: </h1>

            <% if flash[:match_error] %>
            <h2><%= flash[:match_error] %></h2>
            <% end %>
        
        <%= form_for Song.new, :remote => true do |f| %>
            <%= f.label :title %>
            <%= f.text_field :title %>

            <%= f.label :artist %>
            <%= f.text_field :artist %>
            
            <%= f.hidden_field :group_id, :value => @group.id%>

            <%= f.submit %>
            
        <% end%>
        <%= button_to("Leave Group", remove_path, method: :get) %>
    <% end %>
</div>
