<h3>Fan Show Page</h3>

<%= button_to("Logout", controller: "sessions", action: "destroy", method: :get) %>

<%= image_tag @fan.profile_image_url %>
<h1>Fan Name:</h1>
<h2><%= @fan.name %></h2>

<h4>Fan Location:</h4>
<p><%= @fan.location %></p>

<h4>Followers:</h4>
<p><%= @fan.followers.count %></p>

<h4>Follow?</h4>
<% if @same_viewer%>
<% elsif @followed %>
    <%= button_to("Unfollow", unfollow_path(@fan), method: :get) %>
<% else %>
    <%= button_to("Follow", follow_path(@fan), method: :get) %>
<% end %>



Edit (if profile == user profile):
<%= button_to("Edit test-goes to indx", fans_path, method: :get) %>

<%= button_to("Fan Index", fans_path, method: :get) %>

<h3>My Groups</h3> 
<% @fan.groups.each do |group| %>
    <h3><%= link_to group.name, groups_path(group) %></h3>
    <h3><%= group.description %></h3>
<% end %>

<h4>Explore Groups</h4>
BUTTON GOES HERE
Should go to group index page
