
<div class= "profile-info">
    <%= image_tag @fan.profile_image_url, class: "user-img" %>
    
    <div class="profile-text">
        <h5> Groupie </h5>
        <h2><%= "#{@fan.name}'s Profile" %></h2>
        <h4> <%= "location: #{@fan.location}" %></h4>
        <% if @same_viewer%>
        <% elsif @followed %>
            <%= button_to("Unfollow", unfollow_path(@fan), method: :get, class: "btn btn-info") %>
        <% else %>
            <%= button_to("Follow", follow_path(@fan), method: :get, class: "btn btn-info") %>
        <% end %>
        <p><%= pluralize(@fan.followers.count, "follower") %></p>
    </div>
</div>

 

<div class="profile-groups">
    <h4>User's Groups:</h4>
    <div class="row">
    <% @fan.groups.each do |group| %>

       <div class="card col-lg-4" style="width: 18rem;">
            <img src="<%= group.card_image_url %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= link_to group.name, group_path(group) %></h5>
                <p class="card-text"><%= group.description %></p>
            </div>
        </div>

    <% end %>
    </div>
</div>
